{% extends 'todo/base.html' %}

{% block title %}Completed Notes{% endblock %}

{% block content %}

<div class="bg-light grey_container">
  <div class="container">
    <div class="bd-masthead" id="content">
      {% if todos.count == 0 %}
      <div class='text-center'>
        <h1 class="mb-4">You haven't finished any note yet</h1>
        <a role="button" class="btn btn-outline-primary btn-lg mb-5" href="{% url 'createtodo' %}">Create a New Note</a>
      </div>
      {% else %}
      <h2 class="text-center text-success">You have finished {{ todos.count }} note{{ todos.count|pluralize }}</h2>
      {% endif %}

      <div class="list-group mb-5 mt-5">
        {% for todo in todos %}
        <a href="{% url 'viewtodo' todo.id %}" class="list-group-item list-group-item-action list-group-item-success">
          <h5 class="mb-1">
            {% if todo.important %}<b>{% endif %}{{ todo.title }}{% if todo.important %}</b>{% endif %}</h5>
          <small class="text-muted">{{ todo.completed_date|date:'M j Y H:i' }}</small>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
