{% extends 'todo/base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}

{% load static %}

<div class="bg-light grey_container">
  <div class="container">
    <div class="bd-masthead" id="content">
      <div class="container row justify-content-center form_container">
        <div class="col-md-5 mt-5 mb-5 text-center">
          <a href="{% url 'home' %}">
            <img src="{% static 'todo/todo.png' %}" alt="image-logo" width="80" height="80" class="d-inline-block align-top">
          </a>
          <h2 class="text-muted mt-2 mb-4 text_area">Create your account</h2>
          {% if error %}
          <div class="alert alert-danger" role="alert">
            {{ error }}
          </div>
          {% endif %}

          <form method="POST">
            {% csrf_token %}
            <div class="form-group mt-3">
              <input type="text" name="username" placeholder="Username" class="form-control" id="username" maxlength="50">
            </div>
            <div class="form-group mt-3">
              <input type="password" name="password1" placeholder="Password" class="form-control" id="password1">
            </div>
            <div class="form-group mt-3">
              <input type="password" name="password2" placeholder="Confirm password" class="form-control" id="password2">
            </div>
            <div class="mt-3 text-center">
              <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
          </form>
          <hr>
          <div class="text-center">
            <span class="text-muted">Existing user?</span>
            <a href="{% url 'loginuser' %}" class="text-decoration-none">Log In</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
