{% extends 'todo/base.html' %}

{% block title %}Current Notes{% endblock %}

{% block content %}

<div class="bg-light grey_container">
  <div class="container">
    <div class="bd-masthead" id="content">
      <div class="container row justify-content-center todo_form_container">
        <div class="col-md-5 mb-5">
          <h1>Edit the Note</h1>
          {% if error %}
          <div class="alert alert-danger" role="alert">
            {{ error }}
          </div>
          {% endif %}

          <form method="POST">
            {% csrf_token %}
            <div class="form-group mt-3">
              <input type="text" name="title" placeholder="Title" class="form-control" id="title" maxlength="50" value="{{ todo.title }}" required>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" placeholder="Description" id="memo" style="height: 150px" maxlength="3000" name="memo">{{ todo.memo }}</textarea>
            </div>
            <div class="form-group form-check mt-3">
              <input type="checkbox" class="form-check-input" id="important" name="important" {% if todo.important %}checked{% endif %}>
              <label class="form-check-label" for="important">Important</label>
            </div>
            <div class="mt-3">
              <button type="submit" class="btn btn-outline-primary me-3 mb-3 view_todo_button"><i class="fa-solid fa-floppy-disk"></i> Save</button>
              {% if todo.completed_date is None %}
              <button type="button" class="btn btn-outline-success me-3 mb-3 view_todo_button" onclick="$('#complete').click()"><i class="fa-solid fa-check"></i> Complete</button>
              {% endif %}
              <button type="button" class="btn btn-outline-danger me-3 mb-3 view_todo_button" onclick="$('#delete').click()"><i class="fa-solid fa-trash-can"></i> Delete</button>
            </div>
          </form>
        </div>
      </div>
      {% if todo.completed_date is None %}
      <form method="POST" style="visibility: hidden;" action="{% url 'completetodo' todo.id %}">
        {% csrf_token %}
        <button type="submit" id="complete">Complete</button>
      </form>
      {% endif %}

      <form method="POST" style="visibility: hidden;" action="{% url 'deletetodo' todo.id %}">
        {% csrf_token %}
        <button type="submit" id="delete">Delete</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
